{% extends "root.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-6 offset-md-3">

<h3>Adhésion à l'association</h3>
<p>Veuillez entrer une adresse email valide. Cette adresse sera utilisée pour vous tenir informé de l'état de votre adhésion. Si vous avez déjà adhéré à l'association, utilisez vos identifiants pour ré-adhérer.</p>

<form action="" method="POST">
{{ wizard.management_form }}
{% crispy wizard.form wizard.form.helper %}
</form>

</div>

</div>

{% endblock %}