django
psycopg2
python-dateutil

# Models and configuration
django-environ
django-allauth
django-allauth-bootstrap
django-solo

# Interface
django-crispy-forms
django-phonenumber-field
django-formtools

# Serving assets
django-compressor-toolkit
django-compressor
whitenoise

# Local development
django-npm

# Monitoring with sentry
raven
