Babel==2.3.4
Django==1.10.3
contextlib2==0.5.4
defusedxml==0.4.1
django-allauth==0.28.0
django-authtools==1.5.0
django-crispy-forms==1.6.1
django-environ==0.4.1
django-formtools==1.0
django-phonenumber-field==1.1.0
django-webpack-loader==0.4.1
gunicorn==19.6.0
oauthlib==2.0.0
phonenumberslite==7.7.3
psycopg2==2.6.2
python3-openid==3.0.10
pytz==2016.7
raven==5.31.0
requests==2.12.0
requests-oauthlib==0.7.0
six==1.10.0
whitenoise==3.2.2
