django
psycopg2

django-allauth
django-environ
django-crispy-forms
django-phonenumber-field
django-formtools
django-autocomplete-light
django-allauth-bootstrap
django-solo

django-compressor-toolkit
django-compressor

django-npm
whitenoise
raven

python-dateutil

gunicorn
