django
psycopg2
python-dateutil

# Models and configuration
django-environ
django-allauth
django-allauth-bootstrap
django-solo
django-post_office

# Interface
django-crispy-forms
django-phonenumber-field
django-formtools
django-betterforms
django-filter
django_tables2
django-import-export
django_extensions
django-reverse-admin
git+https://github.com/anziem/django_reverse_admin.git

# Serving assets
django-compressor-toolkit
django-compressor
whitenoise

# Local development
django-npm

# Monitoring with sentry
raven
