{% extends "base.html" %}
{% load admin_urls %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'annuaire:index' %}">Annuaire</a></li>
  {% if object.entrance_year %}
  <li class="breadcrumb-item"><a href="{% url 'annuaire:all_promos' %}">Normaliens par promotion</a></li>
  <li class="breadcrumb-item"><a href="{% url 'annuaire:promo_list' object.entrance_year %}">{{ object.entrance_year}}</a></li>
  <li class="breadcrumb-item active">{{ object }} <span class="badge badge-primary">{{object.nomenclature}}</span></li>
  {% else %}
  <li class="breadcrumb-item active">{{ object }}</li>
  {% endif %}
</ol>

<div class="row justify-content-center">
<div class="col-md-8">
  <h1 class="mb-2">{{ object }}
    {% if object.is_honorary %}
    <small class="text-muted">(membre honoraire)</small>
    {% endif %}
  </h1>

  {% if user.is_admin %}
  <div class="breadcrumb">
    <div class="p-2 d-inline">
      <span>Accès admin</span>
    </div>
    <div class="btn-group m-2" role="group" aria-label="First group">
      {% if object.user %}
      <a class="btn btn-outline-warning" href="{% url 'admin:users_user_change' object.user.id %}">Editer le compte</a>
      {% else %}
      <a class="btn btn-outline-warning disabled" >Pas de compte associé</a>
      {% endif %}
      <a class="btn btn-outline-warning" href="{% url 'admin:users_profile_change' object.id %}">Editer le profil</a>
      <a class="btn btn-outline-danger" href="{% url 'admin:users_profile_delete' object.id %}">Supprimer le profil</a>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
      {% with last_m=object.membership.last %}
      {% if last_m %}
      <a class="btn btn-outline-primary" href="{% url 'admin:users_membership_change' last_m.id %}">Dernière adhésion en {{last_m.start_date.year}}</a>
      {% else %}
      <a class="btn btn-outline-primary disabled">Aucune adhésion</a>
      {% endif %}
      <a class="btn btn-outline-primary" href="{% url 'admin:users_membership_add' %}">Nouvelle adhésion manuelle</a>
      {% endwith %}
    </div>
  </div>
  {% endif %}

  <div class="list-group">
    {% if object.entrance_year %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Entrée en {{object.entrance_year }}, {{object.get_entrance_school_display}}</h5>
      </div>
      <p class="mb-1">sur voie « {{object.entrance_field}} »</p>
    </div>
    {% endif %}

    {% if object.website_isvisible and object.website is not None %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Site web personnel</h5>
      </div>
      <p class="mb-1"><a href="{{ object.website }}">{{ object.website }}</a></p>
    </div>
    {% endif %}

    {% if object.email_isvisible and object.user.email > '' %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Contacter par email</h5>
      </div>
      <p class="mb-1"><a href="{{ object.user.email }}">{{ object.user.email }}</a></p>
    </div>
    {% endif %}


    {% if object.phone_number_isvisible and object.phonenumber is not None %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Site web personnel</h5>
      </div>
      <p class="mb-1"><a href="tel:{{ object.phone_number}}">{{ object.phone_number}}</a></p>
    </div>
    {% endif %}

    {% for add in object.address_set.all %}
    {% if view.is_current_user or add.is_public %}
    <div class="list-group-item list-group-item-action flex-column align-items-start {{ add.is_public | yesno:',list-group-item-warning'}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Adresse postale</h5>
      </div>
      <p class="mb-1">{{ add.line_1 }} {{ add.line_2 }}</p>
      <p class="mb-1">{{ add.postal_code }} {{ add.city }}</p>
      <p class="mb-1">{{ add.country }}</p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}
