{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-center">
<div class="col-md-6">

  <p class="lead">Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous
    enverrons un e-mail pour le réinitialiser.</p>

  <form method="POST" action="">
    {% csrf_token %}
    {{ password_reset_form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">Réinitialiser</button>
  </form>

  <div class="alert alert-warning mt-4" role="alert">
  Merci de nous contacter à informatique (at) lyon-normalesup.org si vous ne
  parvenez pas à réinitialiser votre mot de passe.
  </div>

</div>
</div>
{% endblock %}
