{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-center">
<div class="col-md-6">
    <h2>Réinitialisation du mot de passe</h2>

    <p class="lead">
      Nous vous avons envoyé un e-mail. Vérifiez votre boîte « spam » si
      vous ne l'avez pas reçu d'ici quelques minutes.
    </p>

    <div class="alert alert-warning mt-4" role="alert">
    Merci de nous contacter à <a href="mailto:informatique@lyon-normalesup.org">informatique@lyon-normalesup.org</a> si vous ne
    parvenez pas à réinitialiser votre mot de passe.
    </div>

</div>
</div>
{% endblock %}
