{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "dist/main.css" %}">
  {% block head %}{% endblock %}
</head>
<body class="pb-2">
    <header class="navbar navbar-toggleable-md navbar-light bg-faded mb-4">
      <nav class="container">
        <div class="d-flex justify-content-between ">
          <a class="navbar-brand" href="/">Espace adhérent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#header-main-nav" aria-controls="header-main-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="header-main-nav">
          <ul class="nav navbar-nav w-100">
            {% if not user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'register' %}">Nouvelle adhésion</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'annuaire_app:index' %}">Accès à l'annuaire</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'annuaire_app:index' %}">Normaliens par promo</a>
            </li>

            <li class="nav-item active ml-auto">
              <a class="nav-link btn-outline-primary btn" href="{% url 'register_renew' %}">Ré-adhérer</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'annuaire_app:current_profile' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon profil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'annuaire_app:current_profile' %}">Mon profil public</a>
                <a class="dropdown-item" href="{% url 'account_change_password' %}">Modifier mon mot de passe</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Déconnexion</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item active ml-auto">
              <a class="nav-link" href="{% url 'account_login' %}">Connexion à l'annuaire</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{% static "dist/app.js" %}"></script>
</body>
</head>
