{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
<div class="card-deck col-md-10">
  <div class="card card-outline-secondary">
    <div class="card-block">
      <h3 class="card-title">Nouvelle adhésion</h3>
      <p class="card-text">Merci d'entrer une adresse email valide. Cette adresse sera utilisée pour
        vous tenir informé de l'état de votre adhésion.</p>

      <form action="" method="POST">
      {{ wizard.management_form }}
      {% crispy wizard.form wizard.form.helper %}
      </form>
    </div>
  </div>

  <div class="card card-outline-primary">
    <div class="card-block">
      <h3 class="card-title">Ré-adhésion</h3>
      <p class="card-text">Si vous avez déjà adhéré à l'association, merci de vous connecter directement
      avec votre adresse email.</p>
      <a class="btn btn-primary" href="{% url 'account_login' %}">Se connecter</a>
      <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">Mot de passe oublié</a>
    </div>
  </div>
</div>
</div>

{% endblock %}
