{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}

{% block content %}

<div class="text-xs-center" id="form-progress">Étape 2 sur {{ wizard.steps.count }}</div>
<div class="progress mb-4">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="2"></div>
</div>

<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% crispy wizard.form %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" class="btn" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans "submit" %}"/>
</form>
{% endblock %}
