{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="text-xs-center" id="form-progress">Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }}</div>
<progress class="progress" value="{{ wizard.steps.step1 }}" max="{{ wizard.steps.count }}" aria-describedby="form-progress"></progress>

<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% crispy wizard.form wizard.form.helper %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" class="btn" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans "submit" %}"/>
</form>
{% endblock %}